
  <article class="search_filter">
    <div class="container">
      <div class="col-lg-12">
        <div class="bread_Crumb">
          <ul>
            <li>Home</li>
            <li>Bangalore </li>
            <li>Skin Clinics </li>
          </ul>
        </div>
      </div>
    </div>
  </article>

  <article class="inner_section">
    <div class="container">
      <div class="col-lg-9">
        <div class="col-lg-12 doctor_list">
          <div class="col-lg-3 center_text">
            <img src="images/doctor1.png" alt="Doctor Image" class="profile_image" />
            <button class="dr_call_button"><i></i> Call Now</button>
          </div>
          <div class="col-lg-6">
            <div class="doctor_name">Dr. Suneye Koohsari</div>
            <div class="doctor_education">McGill University Faculty of Medicine</div>
            <div class="doctor_experience">03 years experience</div>
            <div class="dr_pro_row">
              <h3>Language Spoken</h3>
              <p>English, Spanish, Franch</p>
            </div>
            <div class="dr_pro_row">
              <h3>Education</h3>
              <p>Dental School - New York University</p>
              <p>New York Univeristy, Master's in Oral Biology</p>
              <p>City University of New York, Brooklyn College </p>
            </div>
          </div>
          <div class="col-lg-3 doctor_right">
            <img src="images/star_rating.png" alt="Rating" />
            <h4>$45<span>per appointment</span></h4>
            <button><i></i> Call Now</button>
          </div>
        </div>
        <div class="col-lg-12 dr_info">
          <div class="row">
            <h3><i></i>About Dr. Suneye Koohsari</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
          </div>
        </div>
        <div class="col-lg-12 dr_info">
          <div class="row">
            <h3><i></i>Medical Specialty</h3>
            <ul>
              <li>Allergy &amp; Immunology</li>
              <li>Anesthesia</li>
              <li>Cardiovascular Disease</li>
              <li>Dermatology</li>
              <li>Diseases of the skin</li>
              <li>Emergency Medicine</li>
              <li>Allergy & Immunology</li>
              <li>Anesthesia</li>
              <li>Cardiovascular Disease</li>
              <li>Dermatology</li>
              <li>Diseases of the skin</li>
              <li><a href="">More</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-12 dr_info">
          <div class="row">
            <h3>Feedback</h3>
            <div class="feedback_row">
              <div class="feedback_row_left">
                <div class="user_image">J</div>
                <div class="user_name">John Smith</div>
              </div>
              <div class="feedback_row_right">
                <div class="feedback_title">Visited ForHealth Checkup (General)</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex  </p>
                <span>Dec-20, 05:50pm</span>
              </div>
            </div>
            <div class="feedback_row">
              <div class="feedback_row_left">
                <div class="user_image">J</div>
                <div class="user_name">John Smith</div>
              </div>
              <div class="feedback_row_right">
                <div class="feedback_title">Visited ForHealth Checkup (General)</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex  </p>
                <span>Dec-20, 05:50pm</span>
              </div>
            </div>
            <div class="feedback_row">
              <div class="feedback_row_left">
                <div class="user_image">J</div>
                <div class="user_name">John Smith</div>
              </div>
              <div class="feedback_row_right">
                <div class="feedback_title">Visited ForHealth Checkup (General)</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex  </p>
                <span>Dec-20, 05:50pm</span>
              </div>
            </div>
            <div class="feedback_row">
              <div class="feedback_row_left">
                <div class="user_image">J</div>
                <div class="user_name">John Smith</div>
              </div>
              <div class="feedback_row_right">
                <div class="feedback_title">Visited ForHealth Checkup (General)</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex  </p>
                <span>Dec-20, 05:50pm</span>
              </div>
            </div>
            <div class="feedback_row">
              <div class="feedback_row_left">
                <div class="user_image">J</div>
                <div class="user_name">John Smith</div>
              </div>
              <div class="feedback_row_right">
                <div class="feedback_title">Visited ForHealth Checkup (General)</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex  </p>
                <span>Dec-20, 05:50pm</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ask_question">
          <a href="">Ask a question</a>
        </div>
        <div class="time_right">
          <h4><i></i>Timings</h4>
          <div class="time_row">
            <div class="time_row_left">
              <div class="time_day">Mon</div>
              <div class="time_slot">8:00 AM-10:00 PM</div>
            </div>
            <div class="time_row_right"><a href="">Book Now</a></div>
          </div>
          <div class="time_row">
            <div class="time_row_left">
              <div class="time_day">Tue</div>
              <div class="time_slot">8:00 AM-10:00 PM</div>
            </div>
            <div class="time_row_right"><a href="">Book Now</a></div>
          </div>
          <div class="time_row">
            <div class="time_row_left">
              <div class="time_day">Wed</div>
              <div class="time_slot">8:00 AM-10:00 PM</div>
            </div>
            <div class="time_row_right"><a href="">Book Now</a></div>
          </div>
          <div class="time_row">
            <div class="time_row_left">
              <div class="time_day">Thu</div>
              <div class="time_slot">8:00 AM-10:00 PM</div>
            </div>
            <div class="time_row_right"><a href="">Book Now</a></div>
          </div>
          <div class="time_row">
            <div class="time_row_left">
              <div class="time_day">Fri</div>
              <div class="time_slot">8:00 AM-10:00 PM</div>
            </div>
            <div class="time_row_right"><a href="">Book Now</a></div>
          </div>
          <div class="time_row">
            <div class="time_row_left">
              <div class="time_day">Sat</div>
              <div class="time_slot">8:00 AM-10:00 PM</div>
            </div>
            <div class="time_row_right"><a href="">Book Now</a></div>
          </div>
          <div class="time_row">
            <div class="time_row_left">
              <div class="time_day">Sun</div>
              <div class="time_slot">8:00 AM-10:00 PM</div>
            </div>
            <div class="time_row_right"><a href="">Book Now</a></div>
          </div>
        </div>
      </div>
    </div>
  </article>


