<article class="search_filter">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <label><input type="checkbox" name="" id="" />Available Today</label>
      </div>
      <div class="col-lg-2">
        <label><input type="checkbox" name="" id="" />Consultation Fee</label>
      </div>
      <div class="col-lg-2">
        <select>
          <option>Consultation Fee</option>
          <option>100$-500$</option>
          <option>500$-1000$</option>
          <option>More than 1000$</option>
        </select>
      </div>
      <div class="col-lg-2">
        <select>
          <option>Gender</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
    </div>
  </div>
</article>

<div class="container">
  <div class="col-lg-8">
    <div class="col-lg-12 quick_info">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <p>552 matches found for:<a href="#">Dermatologist in Bangalore</a></p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <select>
              <option>Sort by rating</option>
              <option>5 Star</option>
              <option>4 Star</option>
              <option>3 Star</option>
              <option>2 Star</option>
              <option>1 Star</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 doctor_list">
      <div class="col-lg-3">
        <img src="images/doctor1.png" alt="Doctor Image" class="profile_image" />
      </div>
      <div class="col-lg-6">
        <div class="doctor_name">Dr. Suneye Koohsari</div>
        <div class="doctor_education">McGill University Faculty of Medicine</div>
        <div class="doctor_experience">03 years experience</div>
        <div class="doctor_tags"><i class=""></i>General Medical, Hairfall, Dentist</div>
        <div class="doctor_office_images">
          <img src="images/Layer 32.png" alt="image" />
          <img src="images/Layer 31.png" alt="image" />
          <img src="images/Layer 30.png" alt="image" />
        </div>
      </div>
      <div class="col-lg-3 doctor_right">
        <div class=""><img src="images/star_rating.png" alt="Rating" /></div>
        <div class="">
          <h4>$45<span>per appointment</span></h4>
        </div>
        <div class="">
          <button><i></i> Call Now</button>
        </div>
      </div>
    </div>
    <div class="col-lg-12 doctor_list">
      <div class="col-lg-3">
        <img src="images/doctor2.png" alt="Doctor Image" class="profile_image" />
      </div>
      <div class="col-lg-6">
        <div class="doctor_name">Dr. Suneye Koohsari</div>
        <div class="doctor_education">McGill University Faculty of Medicine</div>
        <div class="doctor_experience">03 years experience</div>
        <div class="doctor_tags"><i class=""></i>General Medical, Hairfall, Dentist</div>
        <div class="doctor_office_images">
          <img src="images/Layer 32.png" alt="image" />
          <img src="images/Layer 31.png" alt="image" />
          <img src="images/Layer 30.png" alt="image" />
        </div>
      </div>
      <div class="col-lg-3 doctor_right">
        <div class=""><img src="images/star_rating.png" alt="Rating" /></div>
        <div class="">
          <h4>$45<span>per appointment</span></h4>
        </div>
        <div class="">
          <button><i></i> Call Now</button>
        </div>
      </div>
    </div>
    <div class="col-lg-12 doctor_list">
      <div class="col-lg-3">
        <img src="images/doctor1.png" alt="Doctor Image" class="profile_image" />
      </div>
      <div class="col-lg-6">
        <div class="doctor_name">Dr. Suneye Koohsari</div>
        <div class="doctor_education">McGill University Faculty of Medicine</div>
        <div class="doctor_experience">03 years experience</div>
        <div class="doctor_tags"><i class=""></i>General Medical, Hairfall, Dentist</div>
        <div class="doctor_office_images">
          <img src="images/Layer 32.png" alt="image" />
          <img src="images/Layer 31.png" alt="image" />
          <img src="images/Layer 30.png" alt="image" />
        </div>
      </div>
      <div class="col-lg-3 doctor_right">
        <div class=""><img src="images/star_rating.png" alt="Rating" /></div>
        <div class="">
          <h4>$45<span>per appointment</span></h4>
        </div>
        <div class="">
          <button><i></i> Call Now</button>
        </div>
      </div>
    </div>
    <div class="col-lg-12 doctor_list">
      <div class="col-lg-3">
        <img src="images/doctor2.png" alt="Doctor Image" class="profile_image" />
      </div>
      <div class="col-lg-6">
        <div class="doctor_name">Dr. Suneye Koohsari</div>
        <div class="doctor_education">McGill University Faculty of Medicine</div>
        <div class="doctor_experience">03 years experience</div>
        <div class="doctor_tags"><i class=""></i>General Medical, Hairfall, Dentist</div>
        <div class="doctor_office_images">
          <img src="images/Layer 32.png" alt="image" />
          <img src="images/Layer 31.png" alt="image" />
          <img src="images/Layer 30.png" alt="image" />
        </div>
      </div>
      <div class="col-lg-3 doctor_right">
        <div class=""><img src="images/star_rating.png" alt="Rating" /></div>
        <div class="">
          <h4>$45<span>per appointment</span></h4>
        </div>
        <div class="">
          <button><i></i> Call Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 right_article">
    <h1>Top Health Tips</h1>
    <article class="col-lg-12 article_post">
      <div class="row">
        <img src="images/article1.png" alt="image" />
        <h3>7 Ways to Naturally Lose Weight</h3>
        <p>Consuming enough water keeps you hydrated and helps your internal organs function properly...</p>
      </div>
    </article>
    <article class="col-lg-12 article_post">
      <div class="row">
        <img src="images/article2.png" alt="image" />
        <h3>7 Ways to Naturally Lose Weight</h3>
        <p>Consuming enough water keeps you hydrated and helps your internal organs function properly...</p>
      </div>
    </article>
  </div>
</div>

<div class="partners">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#"><img src="images/partner1.png" alt="image" class="img-responsive center-block"></a>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="images/partner2.png" alt="image" class="img-responsive center-block"></a>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="images/partner3.png" alt="image" class="img-responsive center-block"></a>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="images/partner4.png" alt="image" class="img-responsive center-block"></a>
      </div>
    </div>
  </div>
</div><!--Top-Rated-end-->
